PORT=5000
DB_USER=postgres
DB_HOST=localhost
DB_NAME=careerconnect
DB_PASSWORD=postgres
DB_PORT=5432

# Gmail SMTP Outbound Configurations (Fill details below to activate real emails)
EMAIL_USER=your-email@gmail.com
EMAIL_APP_PASSWORD=app_password_of_your_gmail